/obj
/tmp
/lib
/bin
/.vs
/thirdparty/tools/glewinfo.txt
/thirdparty/tools/visualinfo.txt
imgui.ini
desktop.ini
*.log
*.lastbuildstateslm
__pycache__/
/tools/PC_Run/PC_Run/bin
/tools/PC_Run/PC_Run/lib
/tools/PC_Run/PC_Run/obj
/tools/PC_Run/PC_Run/*.user
/tools/PC_Run/.vs/PC_Run/v15/*.suo
/ML.sln
/proj
/plugins/CommandSuite/CommandSuite.vcxproj
/plugins/CommandSuite/CommandSuite.vcxproj.filters
/plugins/Noobs/Noobs.vcxproj
/plugins/Noobs/Noobs.vcxproj.filters
