[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/Gurman8r/glfw.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/Gurman8r/assimp.git
[submodule "ext/ImGuiColorTextEdit"]
	path = ext/ImGuiColorTextEdit
	url = https://github.com/Gurman8r/ImGuiColorTextEdit.git
[submodule "ext/cpython"]
	path = ext/cpython
	url = https://github.com/python/cpython.git
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/gcem"]
	path = ext/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "ext/openal-soft"]
	path = ext/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "ext/dirent"]
	path = ext/dirent
	url = https://github.com/tronkko/dirent.git
[submodule "ext/freetype2"]
	path = ext/freetype2
	url = https://github.com/aseprite/freetype2.git
[submodule "ext/PDCurses"]
	path = ext/PDCurses
	url = https://github.com/wmcbrine/PDCurses
[submodule "ext/ImGuizmo"]
	path = ext/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "ext/glew"]
	path = ext/glew
	url = https://github.com/nigels-com/glew
[submodule "ext/RakNet"]
	path = ext/RakNet
	url = https://github.com/facebookarchive/RakNet
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb.git
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
